<!DOCTYPE html>
<html>
<head>
    <title>Medical Shop Management System</title>

    <link rel="stylesheet" 
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>Medical Shop Management System</h1>
</header>


<nav>

<a href="{{ url_for('dashboard') }}">
Dashboard
</a>

<a href="#">
Medicines
</a>

<a href="#">
Customers
</a>

<a href="#">
Billing
</a>

</nav>


<section class="dashboard">

<h2>Welcome Admin</h2>

</section>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>